<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Simple house simulator</title>

  <!-- ** CSS ** -->
  <!-- base library -->
  <link rel="stylesheet" type="text/css" href="/static/css/ext-all.css" />


  <!-- overrides to base library -->
  <link rel="stylesheet" type="text/css" href="/static/css/GridFilters.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/RangeMenu.css" />

  <!-- page specific -->
  <link rel="stylesheet" type="text/css" href="/static/css/examples.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/grid-examples.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/forms.css"/>
  <style type="text/css"></style>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  {% block content %}
  {% endblock %}
<!-- Core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<!-- ExtJS library: base/adapter -->
<script type="text/javascript" src="/static/js/ext-base.js"></script>

<!-- ExtJS library: all widgets -->
<script type="text/javascript" src="/static/js/ext-all.js"></script>

<!-- overrides to base library -->

<!-- extensions -->
<script type="text/javascript" src="/static/js/CheckColumn.js"></script>
<script type="text/javascript" src="/static/js/FieldLabeler.js"></script>
<script type="text/javascript" src="/static/js/FieldReplicator.js"></script>

<script type="text/javascript" src="/static/js/menu/RangeMenu.js"></script>
<script type="text/javascript" src="/static/js/menu/ListMenu.js"></script>

<!-- page specific -->
<script type="text/javascript" src="/static/js/examples.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/item_actions.js"></script>
<script type="text/javascript" src="/static/js/room_actions.js"></script>
<script type="text/javascript" src="/static/js/auth.js"></script>
  {% block script %}
  {% endblock %}

</body>
</html>
