% extends "base.html" %}
{% block content %}
    <h1>Hello, {{ user }} !</h1>
    <h1 id="roomHeader">You are in <span id="mySpan">{{ room }}</span>
        <button class='getRoomsList'>Change location</button>
    </h1>
    <p>There are all items in the room and in user pockets</p>
    <p>You can add or delete items. You also can take item from room or drop item from user. You can move to another location with items you have.</p>
    <div id='room-items-grid'></div>
    <br>
    <div id="user-items-grid"></div>
    <br>
    <button class='signOut'>Sign out</button>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/in_the_room.js"></script>
{% endblock %}