{% extends "base.html" %}
{% block content %}
  <h1 style="text-align: center">Welcome!</h1>
  <h3 style="text-align: center">This is simple room simulator.</h3>
  <br>
  <br>
  <br>
  <p>To access to the simulator please sign in.</p>
  {% csrf_token %}
  <button class='signIn'>Sign in</button>
  <br>
  <br>
  <p>Not registered yet? Please sign up.</p>
  <button class='signUp'>Sign up</button>

{% endblock %}
